<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Target1" value="mqapi1.krdjt.com -p 5672 -c 5" />
    <!--<add key="Target2" value="mqapi2.dksxd.com -p 5672 -c 5" />-->
    <add key="App" value="C:\paping.exe" />
  </appSettings>
</configuration>